<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Presyong_Ka_Piyu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Presyong_Ka_Piyu.Properties.Settings>
            <setting name="DarkModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Presyong_Ka_Piyu.Properties.Settings>
    </userSettings>
</configuration>